# Virtual environments
venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Temporary files
temp/
*.tmp

# Output files
output_detection.jpg
output_video.mp4

# Model weights
*.pt
*.pth
*.safetensors

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log

app/models/*.pt
app/utils/*.safetensors

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts


# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
